.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.min-h-screen {
  min-height: 100vh;
}



.max-w-md {
  max-width: 28rem;
}


.p-4 {
  padding: 1rem;
}

.overflow-y-auto {
  overflow-y: auto;
}

form > div {
  margin-bottom: 1rem;
}

label {
  display: block;
}

input,
select,
button {
  width: 90%; 
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: 1px solid #6e99da;
  border-radius: 0.25rem;
}

span {
  color: red;
}

.section-error {
  color: red;
  margin-top: 0.5rem;
}

button {
  width: auto; /* Set width to auto to fit content */
  padding: 0.25rem 0.5rem; /* Adjust padding as needed */
  font-size: 0.875rem; 
  background-color: #3471b8;
  color: rgb(253, 253, 254);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #4580a0;
}

button:disabled {
  background-color: #a3a1a1;
  cursor: not-allowed;
}



.container-form{
  display: flex;
  min-height: 100vh; 
  justify-content: center;
  align-items: center;

  font-family: Georgia, 'Times New Roman', Times, serif;
  max-width: 600px;
  margin: 30px auto;
  padding: 0 20px;
  border: 1px solid #dbd6d6;
  border-radius: 10px;
  background: radial-gradient(#d2cccc 0%, #dfdfe9 30%, #c7bebe 100%);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.05);
  
}
body {
  background-color: #ffffff;
  background: radial-gradient(#d2cccc 0%, #dbdbdc 20%, #cbcaca 100%);
  background-size: 10px 10px;
  
}
